html, body {
	height: 100%;
}

body {
	width: 98%;
	margin: 200px 0 0 0;
	text-align: center;
}

button:focus {
	outline:0;
}

.btn {
	background-color: #1abc9c;
	color: #fff;
  border: none;
  font-size: 1.5em;
  line-height: 1.4;
  border-radius: 4px;
  padding: 15px 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn:hover {
	cursor: pointer;
	background-color: #16a085;
}

#chosen_one {
	width: auto;
	height: 240px;
}

.MP_name {
	font-family: 'Raleway', Helvetica, Verdana, sans-serif;
	font-size: 4em;
}